* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
  font-size: 40px;
  height: 15hv;
  margin: 10%;
  padding-right: 40px;
  width: 120px;
}
.nav-arrow-icon {
  font-size: 40px;
  height: 15hv;
  color: #000;
  padding-left: 2%;
}
.row {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: #b42d5c;
}

@media only screen and (max-width: 375px) {
  .header {
    font-size: 20px;
    align-items: center;
  }
  .nav-icon {
    align-items: center;
    font-size: 10px;
    height: 5hv;
    width: 100px;
    margin: 10%;
    /* padding: 10%; */
    padding-right: 40px;
    color: #211f1f;
  }
  .nav-arrow-icon {
    font-size: 20px;
    height: 8hv;
    color: #211f1f;
    padding-left: 2%;
  }
}
